* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.page {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

body {
  font-family: 'Inter', sans-serif
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.text-light {
  color: #FFF;
  transition: all 0.3s;
}

.text-dark {
  color: #080c1c;
  transition: all 0.3s;
}

.text-primary-light {
  color: #080c1c;
  transition: all 0.3s;

  &:hover {
    color: #48a371;
  }
}

.text-underline-light {
  &:before {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    position: absolute;
    bottom: -4px;
    background-color: #48a371;
    transition: all 0.2s ease-out;
  }

  &:hover:before {
    width: 100%;
  }
}

.text-underline-dark {
  &:before {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    position: absolute;
    bottom: -4px;
    background-color: #38f8d4;
    transition: all 0.2s ease-out;
  }

  &:hover:before {
    width: 100%;
  }
}

.text-primary-dark {
  color: #43ea80;
  transition: all 0.3s;

  &:hover {
    color: #38f8d4;
  }
}

.bg-light {
  background-color: #d9fff8;
  transition: all 0.3s;
}

.bg-dark {
  background: #080c1c;
  transition: all 0.3s;
}

.bg-primary-dark {
  background: #080c1c;
  transition: all 0.3s;
}

.bg-primary-light {
  background: linear-gradient(55deg, #43ea80, #38f8d4 120%);
  transition: all 0.3s;
}